#content {
  width: 700px;
  margin-left: 450px;
  padding-left: 40px;
}
#content header {
  border-radius: 15px;
  background: #0f4d92;
  box-shadow: 1px 1px 1px #cdcdcd;
  color: white;
  padding-bottom: 5px;
}
#content a {
  text-decoration: underline;
}
#content .entry-title a {
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #0f4da2;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
ul,
li {
  padding: 0;
}
ul {
  list-style-type: none;
}
.entry-content {
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #cdcdcd;
  background: #efefef;
  box-shadow: 1px 1px 1px #cdcdcd;
  margin-top: 10px;
}
.entry-content h2 {
  text-shadow: 1px 1px 2px #cdcdcd;
  font-family: "Monda";
  font-size: 20px;
}
.entry-content dl,
.entry-content ul,
.entry-content p {
  line-spacing: 24px;
  letter-spacing: 1px;
  font-size: 14px;
}
.entry-title {
  font-size: 36px;
  font-weight: 400;
  font-family: "Monda";
  margin-bottom: -10px;
  padding-left: 10px;
}
.entry-title a {
  color: white;
}
.published {
  font-size: 12px;
  font-family: 'Monda';
  color: white;
  padding: 5px;
  padding-left: 10px;
}
.spacer {
  margin-bottom: 20px;
}
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 0px 1px #ccc;
}
.left {
  margin-left: 70px;
  float: left;
  height: 90%;
  border-right: solid 2px #0f4da2;
  padding-right: 10px;
  position: fixed;
  width: 300px;
}
.left li {
  font-family: "Monda";
}
#menu {
  width: 300px;
  margin-left: 40px;
}
#contentinfo {
  width: 300px;
  margin-left: 40px;
  font-size: 12px;
}
.blackLink {
  color: black;
  text-decoration: none;
}
#banner {
  width: 300px;
  padding: 5px;
  font-size: 54px;
  font-weight: 900;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Source Code Pro";
  text-shadow: 0px 0px 0px;
}
.flip {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  animation-timing-function: easeout;
  -o-animation-name: rotate;
  -o-animation-duration: 3.0s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: easeout;
  -moz-animation-name: rotate;
  -moz-animation-duration: 3.0s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: easeout;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: easeout;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -o-transform: rotateY(0deg);
  }
  50% {
    -o-transform: rotateY(180deg);
  }
  100% {
    -o-transform: rotateY(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(180deg);
  }
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
